<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
  {{#if condition2}}
    Hello World
  {{else}}
    Bye World
  {{/if}}
  <br>
  {{#unless condition2}}
    Hello World forever
  {{else}}
    Bye World forever
  {{/unless}}

</body>
</html>
